<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tes the server to read html</title>
</head>
<body>
    <h1>Tes the server read html</h1>
    <ul>
        <li><a href="/home">home</a></li>
        <li><a href="/">back</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
    </ul>
</body>
</html>